.addButton {
  margin-left:0.5rem;
  color: var(--green);
  cursor: pointer;
  &:hover {
    filter: brightness(0.9)
  }
}

.datatableLoading {
 width:85%;
 margin:0 auto !important;
 text-align: center;;

}