$tablet: 768px;
$phone: 420px;

.container { 

  .flex {
    display:flex;
    justify-content: space-around;
    @media screen and (max-width: $tablet) {
      align-items: center;
      width:66%;
      margin:0 auto;
      flex-direction: column;
     
      min-height: clamp(600px, 650px, 750px);
    }
    @media screen and (max-width: $phone) {
      width:100%;
      height: clamp(600px, 650px, 750px);
    }
  }
}

