.noDataContainer {
  width: 100%;
  text-align: center;
  h1 {
    font-size: 4rem;
    color: #33cc95;
  }
  img {
    width:70%;
    min-height:150px;
    height:auto;
    max-height:350px;
  }
}

.actions {
  text-align: right;
  height:68px;
  button {
    margin:1rem 0.5rem;
  }
}